body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    color: #ffffff;
}


button {
    font-family: 'Roboto', sans-serif;
    color: #ffffff !important;
    font-size: 18px;
    box-shadow: 0px 0px 1px #05C3F9;
    padding: 10px 30px;
    -moz-border-radius: 31px;
    -webkit-border-radius: 31px;
    border-radius: 31px;
    border: 2px solid #05C3F9;
    background: #05C3F9;
    font-weight: bold;
}


a {
    font-family: 'Roboto', sans-serif;
    color: #05C3F9 !important;
    font-size: 18px;
    box-shadow: 0px 0px 1px #05C3F9;
    padding: 10px 30px;
    -moz-border-radius: 31px;
    -webkit-border-radius: 31px;
    border-radius: 31px;
    border: 2px solid #05C3F9;
    background: #ffffff;
    font-weight: bold;
    text-decoration: none !important;
    user-select: none;
}

a:hover
{
    background-color: #05C3F9;
    color: #FFF !important;
}

button:hover
{
  background-color: #FFF !important;
  color: #05C3F9 !important;   
}

h1
{
    background-color: #05C3F9;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}



.ink {
    display: block; position: absolute;
    background: #03c5f9;
    border-radius: 100%;
    transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.9s linear;}
@keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    100% {opacity: 0; transform: scale(2.5);}
}


footer
{
    color: #05C3F9;
}

#timer
{
    color: #05C3F9;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 35px;
}

.thick
{
  font-weight: bold;
}