<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dass MK"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ColorFusion - Why</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styler.css">
</head>
<body>
<h1>ColorFusion - Why</h1>
<br>
<div style="color: #05C3F9">
  Stimulates both left and right hemispheres of the brain. And that too, simultaneously.
</div>
<hr><br>
<ul class="navigation-lists">
    <li><a href="tutorial.html">How</a><br><br></li>
    <li><a href="game.html">Play</a><br><br></li>
    <li><a href="../index.html">Take Me Home</a><br><br></li>
</ul>
<script src="../scripts/jquery-2.1.0.js" type="text/javascript"></script>
<script src="../scripts/rippleBody.js" type="text/javascript"></script>
</body>
</html>
